*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ismael*/
.Professional{
    width: 100%;
    height: 100vh;
    background: white;
}

.head{
    width: 100%;
    height: 45vh;
    background: white;
    display: flex;
    position: relative;
}

.discription{
    margin: 0 17%;
    height: 45vh;
    background: white;
    padding-top: 140px;
    position: absolute;
    left: -95px;
    
}
.discription span{
    color: #499afa;
}

.discription h2{
    font-size: 45px;
    padding-top: 20px;
}

.discription2{
    margin: 0 12%;
    height: 45vh;
    background: white;
    padding-top: 140px;
    position: absolute;
    right: -30px;
    padding-top: 183px;
}

.discription2 button{
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid #2e279d;
    padding: 16px;
    background: #2e279d;
    color: white;  
}


.midell{
    max-width: 100%;
    height: 50vh;
    background: white;
    display: flex;
}

.component{
    height: 50vh;
    background: white;
    padding-left: 35px;
    text-align: center;
}

.component img{
    margin: 0 55px;
    border: 2px solid gray;
    padding: 55px 25px ;
    padding-top: 19px;
    
}

.component h5{
    font-size: 22px;
    margin-top: -60px;
    cursor: pointer;

}

.component h5:hover{
    color: #499afa;
}

.component span{
    color: #499afa;
    padding-top: -50px;
    font-size: 20px;
    margin-top: -50px;
    top: -90px;
}
/*end of ismael*/